





 /* Imagen de fondo de pantalla*/

    body {
        background-image: url("../img/FondoInicioSesion.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }