/*Import fuente roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Estilos generales*/
* {
    text-decoration: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Variables con color asignado*/
:root{
    --main-bg-color: #ffffff;
    --main-fg-color: #092a09;
    --contrast-bg-color: #b4f68e;
    --contrast-fg-color: #007935;
    --accent-bg-color: #092a09;
    --accent-fg-color: #fffffe;
}
body {
    background-image: url("../img/Fondo.jpeg");
    color: var(--main-fg-color);
}
html {
    scroll-behavior: smooth;
}
.bienvenido{
    margin-top: 80px;
}
