

/*                                  ESTILOS CSS
                        Estilos generales para todos los html
 */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Roboto:ital@1&display=swap');

    * {
        font-family: 'Poppins', sans-serif;
        --color-h: #04291C;
    }


    h1 {
        font-size: 25px;
        color: var(--color-h);
    }

    h2 {
        font-size: 18px;
        color: var(--color-h);
    }

    h3 {
        font-size: 14px;
        color: var(--color-h);
    }

    h4 {
        font-size: 12px;
        color: var(--color-h);
    }

    p{
        font-size: 11px;
        color: black;
    }

    a {
        text-decoration: none;
    }

    button {
        background-color: #04291C;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;

    }

    button:hover {
        background-color: #65946F;
    }