/*  Header  */
.header{
    position: fixed;
    size: 2rem;
    width: 100%;
    background-color: white;
    margin-bottom: 1rem;
    z-index: +1;
}
.texto{
    margin-top: 0.8rem;
    margin-bottom: 2.5rem;
    font-size: 0.9rem;
}
#Logo img{
    width: 7.7rem;
    height: 4.7rem;
}
.boton-barras{
    margin-top: 1.4rem;
    float: right;
    margin-left: 1rem;
    margin-right: 1.2rem;
}
#check{
    display: none;
}
.boton-barras .fa, .boton-barras .fa-times {
    font-size: 2rem;
    pointer-events: pointer;
}
#menu-principal{
    position: absolute;
    display: absolute;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    background-color: #204b36;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease-in-out;
}
#check:checked + nav#menu-principal{
    position: absolute;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#menu-principal li{
    padding: 15px 0px;
}
#menu-principal ul{
    display: hidden;
    list-style: none;
    padding: 0px ;
    margin: 0ch;
}
#menu-principal a{
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    color: white;
}
#menu-servicios{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#menu-contacto{
    border-bottom: 1px solid white;
}
#Foto-tablet{
    display: flex;
    height: 100vh;
    width: 100vw;
    padding-top: 3px;
    flex-direction: column;
    align-items: center;
    background: url("../img/FondoLandingPage.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#eslogan{
    align-self: center;
    padding: 0rem 2rem;
    clear: both;
    width: auto;
    color: white;
    margin: 0px auto;
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

#sublogo{
    align-self: center;
    padding: 0rem 2rem;
    clear: both;
    width: auto;
    color: white;
    margin: 0px auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}
#call-to-action{
    font-size: 1rem;
    margin: 0px auto;
    margin-bottom: 9rem;
    color: #810052;
    background-color: white;
    border: none;
    font-weight: bolder;
    border-radius: 20px;
    padding: 0.8rem 1.5rem;
}
#Login i{
    margin-top: 1.5rem;
    font-size: 1.9rem;
    float: right;
}
.Bajar i{
    color: white;
    font-size: 3rem;
}
.Bajar i:hover{
    cursor: pointer;
}
#bajar{
    scroll-behavior: smooth;
    scroll-margin-block-start: 1.7rem;
}
/* Fin Header */
