.datosgrafica{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    border: 0.02vw dotted black;
    height: 100vh;
    text-align: center;
    padding-bottom: 0.6vh;
}
.datosgrafica>th:nth-child(1){
    width: 50%;
}
.datosgrafica>th:nth-child(2){
    width: 50%;
}
.datosgrafica tr th{
    text-align: center;
    border: 0.01vw dotted black;
    border-collapse: collapse;
    padding-top: 0.2vh;
    font-size: 8vw;
    padding-bottom: 0.2vh;
    margin: auto;
}

.datosgrafica tr th p {
    font-size: 4vw;
    padding: 0px;
}
.datosgrafica tr th h2 {
    font-size: 6vw;
}
.historial{
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    border: 0.02vw solid black;
    margin: 0 auto;
    height: 100vh;
    text-align: center;
}
.historial>th:nth-child(1){
    width: 20%;
}
.historial>th:nth-child(2){
    width: 10%;
}
.historial>th:nth-child(3){
    width: 15%;
}

.historial tr td{
    text-align: center;
    border: 0.01vw solid black;
    border-collapse: collapse;
    padding-top: 0.1vh;
    font-size: 3vw;
    padding-bottom: 0.1vh;

}
.historial>thead tr th{
    text-align: center;
    background: #f3ebe5;
    border: 0.02vw solid black;
    border-collapse: collapse;
    padding-bottom: 0.1vh;
    padding-top: 0.1vh;
    font-size: 4vw;
}
.historial>tbody tr:nth-child(odd){
    background-color: lightgreen;
}
.historial>tbody tr:nth-child(even){
    background-color: #61c561;
}
tfoot p {
    width: 100%;
    font-size: 4vw;
    padding: 0vh;
    background-color: #f3ebe5;
    align-items: center;
}
tfoot td button{
    width: 9vw;
    height: 12vw;
    position: center;
    background-color: #f3ebe5;
}
tfoot td button img{
    width: 9vw;
    height: 12vw;
}
tfoot{
    background-color: #f3ebe5;
    border-radius: 1.5vw;
}
.tablasal-oculta {
    display: none;
}
.tablasal-activa{
    display: table;
}

/*aqui termina el diseño de la tabla*/
/*aqui hay diseño de textos e imagenes*/

.bienvenida{
    text-align: center;
    font-size: 7vw;
    margin-top: 7vh;
}
.medidas{
    text-align: center;
    font-size: 7vw;
}
.titulotablas{
    display: flex;
    align-items: center;
    place-items: center;
}
.tabla{
    font-size: 5vw;
    margin: auto;
    padding: 0.5vw;
}
#imagen{
    width: 100%;
    display: block;
    margin: auto;
    border: 0vw solid black;
    height: 90vh;

}

/*aqui esta el diseño de las mistas desplegables */
#huertos{
    font-size: 5vw;
    display: block;
    margin: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    border: 0.04vw solid black;
}

.boton {
    font-size: 5vw;
    display: block;
    margin: auto;
}
#sensores{
    font-size: 5vw;
    display: block;
    margin-top: 2.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border: 0.04vw solid black;
    position: absolute;
}
option{
    font-size: 3vw;
    margin-right: 2vw;
    text-align: center;
}
#tabla{
    padding: 0px;
    font-size: 5vw;
    margin: auto;
}
/*aqui acaba el diseño de las listas desplegables */