/*aqui empieza el diseñode la tabla*/
#datosgrafica{
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
#datosgrafica>th:nth-child(1){
    width: 50%;
}
#datosgrafica>th:nth-child(2){
    width: 50%;
}
#datosgrafica tr td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 1em;
    font-size: 30px;
    padding-bottom: 1em;
}

#datosgrafica>thead tr th{
    text-align: center;
    background: #00ff00;
    border: 2px solid black;
    border-collapse: collapse;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 40px;
}
/*estilo tabla de sal*/
#tablasal{
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
#tablasal>th:nth-child(1){
    width: 20%;
}
#tablasal>th:nth-child(2){
    width: 10%;
}
#tablasal>th:nth-child(3){
    width: 15%;
}


#tablasal tr td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 1em;
    font-size: 30px;
    padding-bottom: 1em;

}
#tablasal>thead tr th{
    text-align: center;
    background: #00ff00;
    border: 2px solid black;
    border-collapse: collapse;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 40px;
}
#tablasal>tbody tr:nth-child(odd){
    background-color: lightgreen;
}
#tablasal>tbody tr:nth-child(even){
    background-color: #61c561;
}
/*estilo tabla humedad*/
#tablahumedad{
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
#tablahumedad>th:nth-child(1){
    width: 20%;
}
#tablahumedad>th:nth-child(2){
    width: 10%;
}
#tablahumedad>th:nth-child(3){
    width: 15%;
}


#tablahumedad tr td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 1em;
    font-size: 30px;
    padding-bottom: 1em;

}
#tablahumedad>thead tr th{
    text-align: center;
    background: #00ff00;
    border: 2px solid black;
    border-collapse: collapse;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 40px;
}
#tablahumedad>tbody tr:nth-child(odd){
    background-color: lightgreen;
}
#tablahumedad>tbody tr:nth-child(even){
    background-color: #61c561;
}
/*estilo tabla temperatura*/
#tablatemp{
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
#tablatemp>th:nth-child(1){
    width: 20%;
}
#tablatemp>th:nth-child(2){
    width: 10%;
}
#tablatemp>th:nth-child(3){
    width: 15%;
}


#tablatemp tr td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 1em;
    font-size: 30px;
    padding-bottom: 1em;

}
#tablatemp>thead tr th{
    text-align: center;
    background: #00ff00;
    border: 2px solid black;
    border-collapse: collapse;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 40px;
}
#tablatemp>tbody tr:nth-child(odd){
    background-color: lightgreen;
}
#tablatemp>tbody tr:nth-child(even){
    background-color: #61c561;
}
/*estilo tabla luz*/
#tablaluz{
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
#tablaluz>th:nth-child(1){
    width: 20%;
}
#tablaluz>th:nth-child(2){
    width: 10%;
}
#tablaluz>th:nth-child(3){
    width: 15%;
}


#tablaluz tr td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 1em;
    font-size: 30px;
    padding-bottom: 1em;

}
#tablaluz>thead tr th{
    text-align: center;
    background: #00ff00;
    border: 2px solid black;
    border-collapse: collapse;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 40px;
}
#tablaluz>tbody tr:nth-child(odd){
    background-color: lightgreen;
}
#tablaluz>tbody tr:nth-child(even){
    background-color: #61c561;
}
/*tabla de pH*/
#tablapH{
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
#tablapH>th:nth-child(1){
    width: 20%;
}
#tablapH>th:nth-child(2){
    width: 10%;
}
#tablapH>th:nth-child(3){
    width: 15%;
}


#tablapH tr td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 1em;
    font-size: 30px;
    padding-bottom: 1em;

}
#tablapH>thead tr th{
    text-align: center;
    background: #00ff00;
    border: 2px solid black;
    border-collapse: collapse;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 40px;
}
#tablapH>tbody tr:nth-child(odd){
    background-color: lightgreen;
}
#tablapH>tbody tr:nth-child(even){
    background-color: #61c561;
}
tfoot th {
    width: 100%;
    font-size: 40px;
    padding: 0em;
    background-color: #a7ff99;
    align-items: center;
}

/*aqui termina el diseño de la tabla */
/* aqui hay diseño de textos e imagenes*/

.bienvenida{
    text-align: center;
    font-size: 70px;
    margin-top: 70px;
}
.medidas{
    text-align: center;
    font-size: 70px;
}
.titulotablas{
    display: flex;
    align-items: center;
    place-items: center;
}

.tabla{
    text-align: center;
    font-size: 50px;
    margin: auto;
}

#imagen{
    width: 80%;
    display: block;
    margin: auto;
    border: 3px solid black;
}

/*aqui esta el diseño de las mistas desplegables */
#huertos{
    font-size: 50px;
    display: block;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid black;
}

#sensores{
    font-size: 50px;
    display: block;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid black;
}
option{
    font-size: 30px;
    margin-right: 2px;
    text-align: center;
}
#tabla{
    padding: 5px;
    font-size: 16px;
    margin: auto;
}
/*aqui acaba el diseño de las listas desplegables */
