
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Roboto:ital@1&display=swap');





/* Imagen de fondo de pantalla*/

body {
    background-image: url("../img/FondoInicioSesion.jpeg");
    background-position: center;
    background-size: cover;
    background-blend-mode: normal;
    background-repeat: no-repeat;
    height: 100vh;
}



/*Tetxo del form*/

#contenedorGris h3 {
    position: center;
}

h3 {
    margin-top: 15px;
    padding-bottom: .5rem;
}


#Título{
    font-size: 28px;
    display: block;
    padding: 2rem;
}

/*COntenedor de página */

#ContenedorNoHeader{
    padding-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: min-content;
    min-height: 80vh;
    width: 100%;
}

/* Contenedor del form */

#contenedorGris {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    min-width: min-content;
    height: 70vh;
    padding: 20px;
}

.inputCajaTexto {

    border: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding-left: 0.5em;
    padding: 8px;
}

#containerCheckbox{
    width: 250px;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

#containerCheckbox a {
    color: black;
}

#obligatorio{
    display: flex;
    justify-content: left;
}

#caracteres{
    display: flex;
    justify-content: right;
}
#textoobligatorio{
    font-size: 12px;
}
#DivBoton{
    display: flex;
    flex: auto;
}


/* Boton Enviar */
#botonEnvio{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 10px auto;
}

#BotonCerrar {
    width: 130px;
    height: 33px;
    font-style: normal;
}

textarea {
    resize: none;
    height: 200px;
    overflow: visible;
}

#textoEnvío{
    font-size: 12px;
}

#Nombre {
    width: 18vw;
}


@media screen and (max-width: 600px) {
    #Nombre {
        width: auto;
        font-size: 16px;
    }
}

#email {
    width: 18vw;
}


@media screen and (max-width: 600px) {
    #email {
        width: auto;
        font-size: 16px;
    }
}

#tel {
    width: 9vw;
}


@media screen and (max-width: 600px) {
    #tel {
        width: auto;
        font-size: 16px;
    }
}


