@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Roboto:ital@1&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
/*========Aqui va Solo el apartado de Bienvenida*========*/
#Bienvenido{
    text-align: center;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 90px;
}

#contenedor{
    width: 80vw;
    height: 90vh;
    display: flex;
    text-align: center;
    margin:auto;
    display: flex;
    flex-direction: column;

}

#anuncio-incidencias{
    width: 30vw;
    height: 10vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    align-content: center;
    order: 0;
    background-color: white;
    border-radius: 10px;
    display: flex;
    text-align:center;
    margin: 0 auto;
}

#NumerodeIncidencias{
    font-size: 15px;
    display: flex;
    align-content: space-between;
    margin: auto
}
/*============================================TODAS LAS CLASES=============================*/


.incidencias{
    width: 70vw;
    height: 13vh;
    display: flex;
    border: 1px solid black;
    margin: 10px auto;
    padding:0.5rem;
    order: 1;
    border-radius: 20px;
    background-color: white;
    display: flex;
}

.datosPrincipales{

    width: 120vw;
    height: 12vh;
    display: flex;
    margin-top: 0.2rem;
    text-align: left;
    flex-direction: column;

}
.btn{
    width: 25vw;
    height: 7vh;
    margin: 0 auto;
    margin-top: 1rem;
    margin-right: 1rem;
    text-align: center;

}

.popUpContent{
    display: block; /* Estado inicial oculto */
    position: fixed; /* Posición fija */
    width: 68vw;
    height: 65vh;
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajuste de centrado */
    background-color: #ffffff; /* Color de fondo */
    z-index: 9999; /* Z-index para estar por encima de otros elementos */
    border-radius: 20px;
}


#closeIcon{
    position: absolute; /* Posición absoluta */
    top: 10px; /* Distancia desde arriba */
    right: 10px; /* Distancia desde la derecha */
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de puntero */
}

.BotonX{
    ;
    padding-right: 2rem;
    padding-top: 1rem;
}

#popUpBox {
    display: none; /* Estado inicial oculto */
    position: fixed; /* Posición fija */
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajuste de centrado */
    background-color: #ffffff; /* Color de fondo */
    border: 2px solid #000000; /* Borde */
    z-index: 9999; /* Z-index para estar por encima de otros elementos */
    border-radius: 20px;
    width: 70vw;
    height: 80vh;
}




/*====================APARTADO CLIENTE 1================*/



.Cliente{
    height: 6vh;
    font-size: 18px;
    padding-left:1.5rem;
    text-align: left;
    padding-top: 0.8rem;
}

.Gravedad{
    height: 6vh;
    font-size: 18px;
    padding-left:1.5rem;
}


.popUpBox{
    position: fixed; /* Posición fija */
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajuste de centrado */
    background-color: #ffffff; /* Color de fondo */
    border: 2px solid #000000; /* Borde */
    z-index: 9999; /* Z-index para estar por encima de otros elementos */
    border-radius: 20px;
    width: 70vw;
    height: 80vh;
}

.información{

    width: 60vw;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 0;
}

.activo {
    display: flex;
}

.desactivado{
    display: none;
}

#tituloAveria{
    justify-self: flex-start;
}
#averiaInfo{
    display: flex;
    align-content: start;
    justify-content: start;
    flex-direction: column;
    font-size: 13px;
}

#averiaInfo p {
    font-size: 17px;
}
/*=======================COLORES GRAVEDAD============*/

.Leve {
    color:#52b734
}

.Grave {
    color:#D79C0EFF
}
.MuyGrave {
    color:#fa0404
}

.Crítico{
    color:#b70101
}





