@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
/* Estilos generales */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}




/* Estilos de la sección principal */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/FondoInicioSesion.jpeg);
    background-position: center;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 0.5em;
    color: #04291c;
    height: 15px;

}

.titulo {
    margin-bottom: 5px;
    margin-top: 20px;
    padding: 0.1em;

}

.perfil {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(215, 215, 215, 0.9);
    border: 2px solid rgba(212, 212, 212, 0.9);
    border-radius: 20px;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

dl {
    margin-top: 10px;
}

.perfil-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.perfil dd {
    width: 40vw;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    padding: 0.3em;
}

.bi-person-square {
    font-size: 7rem;
    font-weight: 100;

    color: #65946F;
}

.perfil dt {
    font-weight: bold;
    margin-bottom: 5px;
}

.perfil dd {
    margin: 0;
    margin-bottom: 10px;
}

table td:nth-child(2) {
    padding: 5px;
}

.texto {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: end;
}

button {
    background-color: #04291C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #65946F;
}

.huertos {
    display: flex;
    justify-content: space-between;
}

.boton {
    display: flex;

}

.texto {
    display: flex;
    width: 70%;
    align-self: end;
}


#myFileInput {
    z-index: 0;
}

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
}

/* ////////////////////////////////////
estilos seccion editar
/////////////////////////////////// */
#edit {
    width: 40vw;
}

#edit input[type="text"],
#edit input[type="password"] {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 1rem;

}


#edit button.btn {
    background-color: #65946F;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 80%;

}

#edit button.btn-outline-secondary {
    background-color: transparent;
    color: #65946F;
    border: 1px solid #65946F;
}

#edit button.btn-outline-secondary:hover {
    background-color: #65946F;
    color: #ffffff;
}

/* ////////////////////////////////////
estilos seccion econfirmar editar
/////////////////////////////////// */
#popup {
    width: 40vw;
}

#popup input[type="text"],
#popup input[type="password"] {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 1rem;

}


#popup button.btn {
    background-color: #65946F;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 80%;

}

#popup button.btn-outline-secondary {
    background-color: transparent;
    color: #65946F;
    border: 1px solid #65946F;
}

#popup button.btn-outline-secondary:hover {
    background-color: #65946F;
    color: #ffffff;
}

#popup h3 {
    font-size: 1rem;
    padding: 1rem;
}

.form-control {
    display: block;
    width: 85%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* ////////////////////////////////////
estilos seccion notificacion
/////////////////////////////////// */
#estado {
    width: 40vw;
}

#estado h3 {
    font-size: 1rem;
    padding: 1rem;
}


#estado button.btn {
    background-color: #65946F;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 80%;

}

#estado button.btn-outline-secondary {
    background-color: transparent;
    color: #65946F;
    border: 1px solid #65946F;
}

#estado button.btn-outline-secondary:hover {
    background-color: #65946F;
    color: #ffffff;
}

/* //////////////////////////////////////////////////////////
Estilos enlace de telefono a pc 
////////////////////////////////////////////////////////// */
@media(max-width: 900px) {


    h1 {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        padding: 0.5em;
        color: #04291c;
        height: 15px;

    }

    .titulo {
        margin-bottom: 5px;
        margin-top: 20px;
        padding: 0.1em;

    }

    .perfil {
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: rgba(215, 215, 215, 0.9);
        border: 2px solid rgba(212, 212, 212, 0.9);
        border-radius: 20px;
        width: 60vw;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    dl {
        margin-top: 10px;
    }

    .perfil-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
    }

    .perfil dd {
        width: 55vw;
        border: 2px solid white;
        background-color: white;
        border-radius: 10px;
        font-size: 16px;
        padding: 0.3em;
    }

    .bi-person-square {
        font-size: 7rem;
        font-weight: 100;

        color: #65946F;
    }

    .perfil dt {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .perfil dd {
        margin: 0;
        margin-bottom: 10px;
    }

    table td:nth-child(2) {
        padding: 5px;
    }

    button {
        background-color: #04291C;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 12px;
        cursor: pointer;
        display: block;
    }

    button:hover {
        background-color: #65946F;
    }

    .huertos {
        display: flex;
        justify-content: space-between;
    }

    .boton {
        display: flex;

    }

    .texto {
        display: flex;
        width: 70%;
        align-self: end;
    }


    #myFileInput {
        z-index: 0;
    }

    dialog {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        padding: 10px;
        text-align: center;
    }

}

/* ////////////////////////////////////
estilos seccion editar
/////////////////////////////////// */
#edit {
    width: 40vw;
}

#edit input[type="text"],
#edit input[type="password"] {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 1rem;

}


#edit button.btn {
    background-color: #65946F;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 80%;

}

#edit button.btn-outline-secondary {
    background-color: transparent;
    color: #65946F;
    border: 1px solid #65946F;
}

#edit button.btn-outline-secondary:hover {
    background-color: #65946F;
    color: #ffffff;
}

/* ////////////////////////////////////
estilos seccion econfirmar editar
/////////////////////////////////// */
#popup {
    width: 40vw;
}

#popup input[type="text"],
#popup input[type="password"] {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 1rem;

}


#popup button.btn {
    background-color: #65946F;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 80%;

}

#popup button.btn-outline-secondary {
    background-color: transparent;
    color: #65946F;
    border: 1px solid #65946F;
}

#popup button.btn-outline-secondary:hover {
    background-color: #65946F;
    color: #ffffff;
}

#popup h3 {
    font-size: 1rem;
    padding: 1rem;
}

.form-control {
    display: block;
    width: 85%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* ////////////////////////////////////
estilos seccion notificacion
/////////////////////////////////// */
#estado {
    width: 40vw;
}

#estado h3 {
    font-size: 1rem;
    padding: 1rem;
}


#estado button.btn {
    background-color: #65946F;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 80%;

}

#estado button.btn-outline-secondary {
    background-color: transparent;
    color: #65946F;
    border: 1px solid #65946F;
}

#estado button.btn-outline-secondary:hover {
    background-color: #65946F;
    background-color: #65946F;
    color: #ffffff;
}

/* /////////////////////////////////////
EStilos telefono
//////////////////////////////////////// */
@media(max-width: 590px) {
    dialog {

        width: 70vw;
    }

    #edit {

        width: 70vw;
        height: 25vh;
    }

    #popup {

        width: 70vw;
        height: 25vh;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        background-image: url(chua-bing-quan-Sg7eWHKrxrA-unsplash-min.jpg);
        background-position: center;
        background-size: cover;

    }




    .perfil {
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: rgba(215, 215, 215, 0.9);
        border: 2px solid rgba(212, 212, 212, 0.9);
        border-radius: 20px;
        width: 300px;
        justify-content: center;
        align-items: flex-start;
        padding: 1em;
    }

    .perfil-img {
        display: flex;
        flex-direction: column;
    }

    .custom-file-button {
        background-color: #04291C;
        color: white;
        padding: 7px 20px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        font-size: 12px;
        margin-bottom: 10px;

    }

    /* Estilos para ocultar el botón de archivo predeterminado */
    .file-input-wrapper {
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    .file-input-wrapper input[type="file"] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }




    .perfil-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
    }


    .perfil dd {
        width: 290px;
        border: 2px solid white;
        background-color: white;
        border-radius: 10px;
        font-size: 13px;
        padding: 0.3em;

    }

    .perfil dt {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .perfil dd {
        margin: 0;
        margin-bottom: 10px;
    }

    table td:nth-child(2) {
        padding: 5px;
    }

    button {
        background-color: #04291C;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 12px;
        cursor: pointer;
        display: block;
    }

    button:hover {
        background-color: #65946F;
    }

    .huertos {
        display: flex;
        justify-content: space-between;
    }

    .boton {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;

    }

    .texto {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-self: end;
    }


    #myFileInput {
        z-index: 0;
    }

    /* ////////////////////////////////////
  estilos seccion notificacion
  /////////////////////////////////// */
    #estado {

        width: 70vw;
        height: 25vh;
    }

    #estado h3 {
        font-size: 1rem;
        padding: 1rem;
    }



}